.app.dark{
    background-color: rgb(22, 22, 22);
    color: lightgray;
    
    .navbar{
        color: rgb(212, 209, 209);
        border-color: #333;
        .top{
            .logo{
                color: rgb(230, 227, 227);
            }
        }
    }
    .sidebar{
        border-color: #333;
        .left{
            ul{
                li{
                    &:hover{
                        background-color: rgb(49, 49, 49);
                        border-radius: 5px;
                    }
                .icons{
                    color: rgb(230, 227, 227);
                }
                }
            }
        }
        hr{
            border-color: #333;
        }
    }
    .search{
        border-color: #333;
    }
    .widget{
        .type{
            color: rgb(235, 234, 236);
        }
    }
}